/* style for entire doc */
* {
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "BNCE" 0,
    "INFM" 0,
    "SPAC" 0;
  border: 2px solid #993434;
}
/* style for container class */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
  grid-template-areas:
    "title title title title reset" 
    "spaceman playing playing playing instructions"
    "spaceman keyboard keyboard keyboard instructions"
    "spaceman keyboard  keyboard keyboard instructions"
    "guess footer footer footer instructions";
  text-align: center;
  padding: 0px;
}
/* all the grd boxes, class item */
.item {
  /* border: 2px solid #333; */
  text-align: center;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* grid row 1*/
.title {
  grid-area: title;
  font-weight: bold;
}
.reset {
  grid-area: reset;
  display: flexbox;
  justify-content: space-between;
  font-size: 30px;
}
#score {
  padding: 0px;
  margin: 0px;
  font-size: 25px;
}
#resetti {
  background-color: #36b98e;
  cursor: pointer;
  text-align: center;
  font-size: 25px;
  border-radius: 15px;
  padding-right: 15px;
  padding-left: 15px;
}


/* grid row 2 and 3*/
.spaceman {
  grid-area: spaceman;
}
/* spaceman image */
img {
  max-width: 100%;
  height: auto;
  border: 2px solid #993434;
}
.playing {
  grid-area: playing;
  font-weight: bold;
}
.keyboard {
  grid-area: keyboard;
}
.alphabet {
  width: 40px;
  height: 40px;
  margin: 5px;
  font-size: 25px;
  font-weight: bold;
  background-color: #cecab6;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
}


/* grid row 4*/
.guess {
  grid-area: guess;
  font-size: 20px;
}
.footer {
  grid-area: footer;
  font-size: 25px;
}
#gameOver {
  background-color: #36b98e;
  cursor: pointer;
  text-align: center;
  font-size: 25px;
  border-radius: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

/* grid COLUMN */
.instructions {
  grid-area: instructions;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.instructions> p{
  margin: 0px;
  text-align: center;
}

ul {
  text-align: center;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
li {
  font-size: 20px;
  text-align: center;
}
/* reference to page layout https://www.digitalocean.com/community/tutorials/css-css-grid-layout-fr-unit */